@model WebProject.Models.Makale
@{
    ViewBag.Title = "Makaleİncele";
    Layout = "~/Views/Layout/Layout.cshtml";
}

<h2>Makaleİncele</h2>
<form action="~/Page/tercih/?id=@Model.id&tercihkodu=1" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-8">
            <div class="input-group">
                <div class="input-group-prepend">

                </div>
                <a class="btn btn-info btn-group-lg" href="@Model.yol" target="_blank">Pdf'e Git</a>
            </div>
            <br />

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Puanınız</span>
                </div>
                <input type="number" class="form-control" name="puan" value="50" min="0" max="100" />
            </div>         <br />
            <div class="form-group">
                <label for="exampleFormControlFile1">Pdf Seçiniz</label>
                <input type="file" required class="form-control-file" accept="application/pdf" name="file" id="exampleFormControlFile1">
            </div> <br />
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Rapor Metniniz</span>
                </div>
                <textarea class="form-control" style="resize:none;" name="metin" id="metin" rows="10"></textarea>
            </div>


        </div>
        <div class="col-3">
            <div class="btn-group-vertical ">

                <input type="submit" name="onay" value="Onayla"  class="btn btn-outline-success btn-lg"/>
                @*<a href="~/Page/tercih/?id=@Model.id&tercihkodu=1" class="btn btn-outline-success btn-lg"></a>*@
                <hr />
                @*<a href="~/Page/tercih/?id=@Model.id&tercihkodu=2" class="btn btn-outline-danger btn-lg">Red Et</a>
                    <hr />
                    <a href="~/Page/tercih/?id=@Model.id&tercihkodu=3" class="btn btn-outline-warning btn-lg">Kararsız Kal</a>        <hr />*@

                @*<a href="~/Page/tercih/?id=@Model.id&tercihkodu=4" class="btn btn-outline-info btn-lg ">Revizyon Talebi</a>*@
            </div>
        </div>
    </div>
</form>
