
@{
    ViewBag.Title = "mesajsayfasi";
    Layout = "~/Views/Layout/Layout.cshtml";
}
<hr />
<div class="alert alert-success" role="alert">

    <h4 class="alert-heading">Gönderildi!</h4>
    <p>Baş editör tarafından incelenecek ve alan editörü tarafından kategorize edilip onay heyetine gönderilecektir. Onaylanır ise paylaşım için sıraya alınacaktır. Onaylanmaz ise revizyon veya iptali istenecektir. Teşekkürler sayın yazarımız.</p>
    <hr>
    <div>
        <p class="mb-0">Makaleniz için teşekkür ederiz. 30 saniye içinde yönlendirileceksiniz.!.</p>
        <script>
            setTimeout(function () {
                window.location.href = '#';
            }, 5000);
        </script>
    </div>
    <br />

    <a type="button" class="btn btn-primary text-white" name="name" href="~/Page/newmakale">Yeni Makale için tıklayın.</a>
    <a type="button" class="btn btn-primary text-white" name="name" href="https://localhost:44361/">Ana sayfaya gitmek için tıklayın.</a>
  
</div>
<br />

<br />
<br />
<br />
<br />

<br />
<br />
<br />
<br />
